<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Comp</title>
</head>
<body>
<form th:action="${'/blog/addComp'}" method="post">
    <input type="text" name="chip" placeholder="Введите чип">
    <input type="text" name="drip" placeholder="Введите дрип">
    <input type="text" name="chipset" placeholder="Введите читсет">
    <input type="text" name="ramMb" placeholder="Введите ОЗУ в Мб">
    <input type="text" name="weed" placeholder="Введите вид">
    <br>
    <button type="submit">Добавить компьютер</button>
</form>
<a style="border: black; color: purple" href="/">Назад</a>
</body>
</html>