<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<div th:insert="blocks/header"></div>-->
<h1 style="border: black; color: purple" >Все статьи</h1>
<a style="color: wheat; border: black" href="/blog/filter">Поиск</a>
<a style="color: blue" href="/blog/addComp">Добавить компьютер</a>
<a style="color: red" href="/blog/addKeyboard">Добавить клавиатуру</a>
<div th:each="el : ${posts}">
    <h3 th:text="${el.title}"></h3>
    <p th:text="${el.anons}"></p>
    <a th:href="'/blog/' + ${el.id}">Подробнее</a>
</div>
</body>
</html>